name: Unit tests

on:
  pull_request:
  push:
    branches: [main]

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Install ubuntu system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y mpich libmpich-dev libhdf5-mpich-dev hdf5-tools flex libfl-dev bison ninja-build libreadline-dev

    - name: Setup python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Cache python virtual env
      id: cache-venv
      uses: actions/cache@v3
      env:
        cache-name: cache-venv
      with:
        path: venv
        key: cache-venv

    - name: Setup venv
      if: steps.cache-venv.outputs.cache-hit != 'true'
      run: |
        python -m venv venv
        . ./venv/bin/activate
        python -m pip install --upgrade pip setuptools
        pip install cython numpy pytest

    - name: Activate venv
      run: |
        echo "${{ github.workspace }}/venv/bin" >> $GITHUB_PATH
        echo "VIRTUAL_ENV=${{ github.workspace }}/venv" >> $GITHUB_ENV

    - name: Build and install mpi4py
      if: steps.cache-venv.outputs.cache-hit != 'true'
      run: |
        MPICC=mpicc pip install --no-binary=mpi4py mpi4py
    
    - name: Build and install h5py
      if: steps.cache-venv.outputs.cache-hit != 'true'
      run: |
        export HDF5_INCLUDEDIR=/usr/include/hdf5/mpich
        export HDF5_LIBDIR=/usr/lib/x86_64-linux-gnu/hdf5/mpich
        # Upgrade setuptools again, to avoid build error from `project.license`
        # Neuron installed older setuptools but it doesn't work for h5py
        CC="mpicc" HDF5_MPI="ON" HDF5_INCLUDEDIR=$HDF5_INCLUDEDIR HDF5_LIBDIR=$HDF5_LIBDIR \
          pip install --no-cache-dir --no-binary=h5py h5py --no-build-isolation

    - name: Install Multiscale Run
      run: |
        pip install .

    - name: Run unit tests
      run: |
        pytest tests/unit
